.webName{
    padding-top: 10%;
    padding-left: 9%;
    color: #fff;
    font-size: 2.5em;
  }
  
  .mainImage{
    opacity: 0.7;
    border-radius: 65px;
    width: 60%;  
    mask: linear-gradient(to left, black 0%, transparent 100%); /* Mask to control opacity split */
  }
  
  .mainContainer {
    width: 88%;
    height: 520px;
    display: flex;
    justify-content: space-between;
    margin: 0% 1%;
    border-radius: 65px;
    background-color: rgb(48, 44, 71);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

  
  .content{
    padding-top: 1.7%;
    padding-left: 5%;
  }
  
  .searchBox{
    width: 415px;
    border: none;
    border-radius: 13px;
    margin-left: 20px;
    height: 45px;
    font-size: 1.5em;
  }

  .Button:hover{
    color: pink;
  }

  .topSearch {
    color: #fff;
    margin-top: 0px;
    margin-left: 20px;
    margin-bottom: 0px;
    font-weight: 500;
    padding-right: 1px;
  }

  .searchComponents {
    display: flex;
    align-items: center;
    gap:10px;
  }

  .searchIcon {
    width: 20px;
    height: 20px;
    background-color: plum;
    padding: 15px 15px;
    gap: 10px;
    border-radius: 10px;
    margin: 2px;
  }

  .watchAnimeButton {
    width: 200px;
    margin-left: 20px;
  }

  .topSearchSection {
    display: flex;
    align-items: center ;
    gap: 10px;
  }

  .searchData {
    color: #fff;
    font-weight: 100;
  }

  .arrowIcon {
    width: 20px;
    height: 20px;
  }

  .watchAnimeContent {
    display: flex;
    align-items: center;
    gap: 0px;
    background-color: plum;
    margin-left: 20px;
    width: 250px;
    height: 50px;
    border-radius: 20px;
    padding: 0px 5px;
    font-weight: 100;
  }

  .shareBar {
    display: flex;
    align-items: center;
    gap: 19px;
  }

  .instaShare {
    display: flex;
    align-items: center;
    gap: 10px;
    background: radial-gradient(circle at 30% 30%, #f58529, #dd2a7b, #8134af, #515bd4);
    height: 30px;
    width: 90px;
    padding-left: 15px;
    border-radius: 10px;
  }

  .xShare {
    display: flex;
    align-items: center;
    gap: 10px;
    background: black;
    height: 30px;
    width: 90px;
    padding-left: 15px;
    border-radius: 10px;
  }

  .fbShare {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #1877F2;
    height: 30px;
    width: 90px;
    padding-left: 15px;
    border-radius: 10px;
  }

  .shareLabel1 {
    color: plum;
    margin-left: 30px;
    margin-bottom: 4px;
  }

  .shareLabel2 {
    color: #fff;
    font-weight: 100;
    margin-top: 0px;
    margin-left: 30px;
  }

  .iconsLabel{
    color: #fff;
    font-weight: 100;
  }

  .icons {
      width: 20px;
      height: 20px;
  }

.sharingIcon {
  width: 35px;
  height: 35px;
  background: #fff;
  border-radius: 20px;
}

.rightReserved {
  color: #fff;
  font-weight: 100;
  opacity: 80%;
  margin-left: 20px;
}