.Buttons{
  display: flex;
  justify-content: center;
}
.Button{
  font-family: "Poppins", Arial;
  margin-bottom: 1%;
  margin-top: 5.5%;
  border-style: none;
  padding: 10px 20px;
  color: #fff;
  font-size: 1.2em;
  background-color: transparent;
  letter-spacing: 1px;
}

